<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clustering</title>
</head>
<body>
    <form method="POST" action="/plot_pie">
        Number of Clusters1:<input type="text" name="c1">
        interval:<input type="text" name="intv">
        <select name="col1">
        <option value="fare">fare</option>
        <option value="Age">age</option>
        <option value="Lat">latitude</option>
            <option value="CabinNum">latitude</option>
            <option value="wealth">latitude</option>
    </select>
	
	
    <select name="col2">
        <option value="fare">fare</option>
        <option value="Age">age</option>
        <option value="Lat">latitude</option>
            <option value="CabinNum">latitude</option>
            <option value="wealth">latitude</option>
    </select>
        r1:<input type="text" name="r1">
         r2:<input type="text" name="r2">
        r3:<input type="text" name="r3">
         r4:<input type="text" name="r4">
        <input type="submit">
    </form>
</body>
</html>