<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>1001648136,Mani,Swati Sriram</h1>
 <a href="\enternew">Upload</a><br><br>
<a href="\formenter">Select population between some values</a><br><br>
<a href="\clustering">Clustering</a><br><br>
<a href="\clus_centroid">clustering_elbow with string</a><br><br>
<a href="\newww">clustering with nested query</a><br><br>
<a href="\clus_centroid">clustering when centroid given and display data of points of cluster</a><br><br>
</body>
</html>